@model CollectionViewModel
<h2>Comfirm Deletion of @Model.Collection.Name</h2>
<div class="d-inline-flex">
<form asp-action="Delete">
    <input type="hidden" asp-for="Collection.CollectionId" value="@Model.Collection.CollectionId"></input>
        <button class="btn btn-danger">Delete</button>
</form>
    <a class="btn btn-primary" asp-action="ListUserCollections">Back</a>
</div>
