@model ItemViewModel

<div id="ItemDetails">
<h3>@Model.item.Name</h3>
    <div>
        <div>
            <h5>Description:</h5>
            <div id="Description">@Model.item.Description</div>
        </div>
            <img src="@Model.ImagePNGbase64">
    </div>
</div>