@model RegisterViewModel
<form asp-action="Register">
    <label for="FirstName">First Name:</label>
    <input asp-for="FirstName" type="text">
    <label for="LastName">Last Name:</label>
    <input asp-for="LastName" type="text">
    <label for="UserName">User Name:</label>
    <input asp-for="UserName" type="text">
    <label for="Password">Password:</label>
    <input asp-for="Password" type="text">
    <button type="submit">Submit</button>
</form>
